<link rel="stylesheet" href="../../stylesheets/BurnedDesignArticle.css">
<header class="mainHeader">
  <div class="linkContainer">
    <a href="../../index.html" class="navLink logo">главная</a>
    <a href="#" class="navLink contactsTg">контакты</a>
  </div>

  <div class="spanContainer">
    <span>Разделы</span>
    <span class="categoryName">Мода</span>
  </div>
</header>

<div class="mainContainer">
  <main class="gridContainer">

    <section class="heroSection">
      <p class="subMenuText">
        Лазерная обработка денима: как графический
        <br />
        дизайн меняет технологию моды
      </p>

      <div class="mainBanner">
        <img src="../../assets/design/HeaderPic.png" alt="Прожженный дизайн денима" />
      </div>

      <h1 class="mainTitle">ПРОЖЖЕННЫЙ ДИЗАЙН</h1>
    </section>

    <section class="articleSection section1">
      <div class="sectionImage">
        <img src="../../assets/design/image1.png" alt="Процесс обработки" />
      </div>

      <div class="sectionText">
        <p>
          Финальная обработка джинсовой ткани (денима) долгое время была одним из самых вредных этапов производства: потертости и другие эффекты на ткани создавали стиркой с пемзой, хлором и ферментами, расходуя много воды и загрязняя её химикатами. В ряде стран рабочие выполняли такие процессы вручную и без защиты.
        </p>

        <p>
          С конца 2010-х индустрия переходит на экологичные технологии. Лазерная обработка заменила стирку камнями. Для осветления денима применяют озон, сокращающий расход воды, а пемзу заменяют синтетическими камнями. Эти методы уже внедряют Levi’s, Lee, Wrangler, Uniqlo, Guess и многие другие бренды одежды, которые производят джинсовые линейки, включая производителей из Турции и Пакистана.
        </p>
      </div>
    </section>

    <section class="articleSection section2 reverse">
      <div class="sectionText">
        <h2>Цифровая обработка: где начинается роль графического дизайна</h2>
        <p>
          Переход к лазеру превратил работу с денимом в цифровой процесс. Теперь финальный вид потертостей зависит не от хаотичной стирки, а от качества графического макета.
        </p>

        <h3>1. Создание макета в графических редакторах</h3>
        <p>
          Дизайнер подготавливает будущие прожиги в Adobe Photoshop или специальных программах, учитывая крой изделия, расположение строчек и карманов, а также плотность и оттенок денима.
        </p>
        <p>
          Лазер считывает макет как карту интенсивности: чем темнее участок, тем глубже прожиг.
        </p>
      </div>

      <div class="sectionImage">
        <img src="../../assets/design/image2.png" alt="Цифровая обработка" />
      </div>
    </section>

    <section class="articleSection section3">
      <div class="sectionImage">
        <img src="../../assets/design/image3.png" alt="Тестирование образцов" />
      </div>

      <div class="sectionText">
        <h3>2. Тестирование на образцах ткани</h3>
        <p>
          Перед запуском производится серия экспериментов: <br/>- проверяются разные ткани <br/>- подбираются нити для отделочных строчек <br/>- тестируются уровни мощности <br/>- оценивается точность передачи макета
        </p>
        <p>
          Это помогает понять, как данная лазерная графика будет выглядеть на фактуре денима и какая у неё будет интенсивность.
        </p>
      </div>
    </section>

    <section class="articleSection section4 reverse">
      <div class="sectionText">
        <h3>3. Корректировка макета и оптимизация</h3>
        <p>
          Этот этап позволяет оптимизировать процесс производства путём снижения отходов и количества тестов, ускорением и упрощением производства. Также она делает возможными создание и воплощение сложных и необычных художественных эффектов в жизнь. Они в свою очередь используются не только в повседневной одежде, но и также в подиумных коллекциях.
        </p>
        <p>
          Современные джинсы с лазерными рисунками — пример того, как цифровые дисциплины становятся неотъемлемой частью модной индустрии и как графический дизайнер может быть причастен к экологии.
        </p>
      </div>
    </section>

    <div class="author">Автор статьи: Дёмина А. К.</div>

    <div class="contactsSection" id="contacts">
      <div class="contacts">
        <span>контакты</span>
        <span>VK: ensumagazinevk</span>
        <span>Telegram: ensumagazinetg</span>
        <span>Instagram: ensumagazineig</span>
        <span>Mail: ensumagazine@gmail.com</span>
      </div>
      <div class="qrCodes">
        <img src="../../assets/qr-1.png"/>
        <img src="../../assets/qr-2.png"/>
      </div>
    </div>
  </main>
</div>