<link rel="stylesheet" href="../../stylesheets/FromThePastArticle.css">
<header class="mainHeader">
  <div class="linkContainer">
    <a href="../../index.html" class="navLink logo">главная</a>
    <a href="#" class="navLink contactsTg">контакты</a>
  </div>

  <div class="spanContainer">
    <span>Разделы</span>
    <span class="categoryName">История искусств</span>
  </div>
</header>

<div class="mainContainer">
  <main class="gridContainer">

    <section class="heroSection">
      <p class="subMenuText">
        Как авторы современного искусства черпают
        <br />
        вдохновение у своих коллег по цеху
      </p>

      <div class="mainBanner">
        <img src="../../assets/fromthepast/HeaderPic.png" alt="Отсылки из прошлого"/>
      </div>

      <h1 class="mainTitle">ОТСЫЛКИ ИЗ ПРОШЛОГО</h1>
    </section>

    <section class="articleSection section1 reverse">
      <div class="sectionText">
        <p>
          Отсылки к произведениям прошлого — важная часть истории искусства. Художники разных эпох часто обращаются к известным образам, переосмысляют их и создают новые интерпретации. Благодаря этому произведения искусства продолжают «жить» в культуре, влияя на новые поколения художников и на развитие визуального языка.
        </p>
        <p>
          Картина ”Офелия” художника Джона Милле является одним из самых известных произведений прерафаэлитского искусства. На ней изображена героиня трагедии Уильяма Шекспира, которая плывёт по воде среди цветов в момент своей гибели. Художник уделил большое внимание деталям природы и символике растений, благодаря чему картина выглядит одновременно красивой и трагичной, передавая атмосферу печали и романтической поэтики.
        </p>
      </div>

      <div class="sectionImage">
        <img src="../../assets/fromthepast/img1.png" alt="Картина 'Офелия'"/>
      </div>
    </section>

    <section class="articleSection section2">
      <div class="sectionImage">
        <img src="../../assets/fromthepast/img2.png" alt="Картина 'Девушка с жемчужной сережкой'"/>
      </div>

      <div class="sectionText">
        <p>
          Другим узнаваемым образом в истории мирового искусства считается картина не столь известного художника “малого голландца” Яна Вермеера “Девушка с жемчужной сережкой”.
        </p>
        <p>
          На ней изображена девушка, повернувшаяся к зрителю через плечо, с большой жемчужной серёжкой в ухе и мягким светом, падающим на её лицо. Картина привлекает внимание своей простотой, загадочным выражением лица героини и тонкой работой со светом и цветом, благодаря чему она стала настоящим символом голландского искусства и вдохновением для многих художников и фотографов.
        </p>
        <p>
          Этот образ девушки стал символом загадочности и утончённой красоты. Картина оказала огромное влияние на современную культуру: её образ часто используется в моде, фотографии и дизайне.
        </p>
      </div>
    </section>

    <section class="articleSection section3 reverse">
      <div class="sectionText">
        <p>
          Произведения художников прошлого продолжают влиять на развитие культуры. Их образы, идеи и художественные приёмы вдохновляют новых авторов и получают современные интерпретации. Благодаря этому классические картины остаются актуальными и продолжают жить в современном визуальном пространстве, оказывая влияние в том числе и на развитие декоративного искусства и стиля модерн.
        </p>
      </div>

      <div class="sectionImage">
        <img src="../../assets/fromthepast/img3.png" alt="Картина Эдварда Бёрн-Джонса" />
      </div>
    </section>

    <div class="author">Автор статьи: Дёмина А. К.</div>

    <div class="contactsSection" id="contacts">
      <div class="contacts">
        <span>контакты</span>
        <span>VK: ensumagazinevk</span>
        <span>Telegram: ensumagazinetg</span>
        <span>Instagram: ensumagazineig</span>
        <span>Mail: ensumagazine@gmail.com</span>
      </div>
      <div class="qrCodes">
        <img src="../../assets/qr-1.png"/>
        <img src="../../assets/qr-2.png"/>
      </div>
    </div>
  </main>
</div>